@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    color: #fff;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 0.875rem;
    overflow-x: hidden;
}

.first-page {
    background-color: #080808 ;
}

.nav-options {
    background-color: #1B1B1B;
    width: 80%;
    height: 4.375rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.nav-custom {
    display: flex;
    justify-content: space-around;
}

.nav-options li {
    list-style-type: none;
}

.nav-options li a {
    text-decoration: none;
    cursor: pointer;
    color: #9C9C9C;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #FFF;
}

.navbar-toggler {
    background-color: #535353;
    border-color: #535353 ;
}

.section {
    height: 109vh;
}

.principal {    
    display: flex;
    justify-content: center;
    color: #9C9C9C; 
    /* border: solid 2px yellow; */
    /* height: 100vh; */
    margin: auto;
    margin-top: 50px;
}

.info {
    max-width: 638px;
    max-height: 347px;
    margin-top: 200px;
    align-items: left;
    /* border: 2px solid red; */
}

.info h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 25px;
}

.info p {
    line-height: 1.7rem;
    font-size: 0.875rem;
    word-spacing: 0.5rem;
    margin-bottom: 2.813rem;
}

.photo { 
    margin-top: 100px;
    margin-left: 80px;
    /* border: 2px solid red; */
}
.perfil-photo {
    max-width: 26.875rem;
    border-radius: 50%;
}

.btn-portfolio {
    width: 307.89px;
    height: 63px;   
    background-color: #3F8E00 ;
    border-color: #62BA1B;
    border-radius: 5px;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 1.2rem;
}

.btn-portfolio a {
    text-decoration: none;
    color: #fff;
}

.btn-portfolio:hover {
    color: white; 
    background-color:#62BA1B;
    border-color:#3F8E00;
}

.social-icons {
    margin-top: 30px;
}

.icon-link {
    text-decoration: none;
    margin-left: 8px;
}

.icon {
    color: #8f8f8f;
    transition: transform 0.3s ease, color 0.3s ease; 
}


.icon:hover {
    transform: scale(1.2);
    color: #FFF;
}

.icon-link:first-child {
    margin-left: 4px;
}

/* Second Page */

.second-page {
    color:#1B1B1B;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
    /* height: 50vh; */
}

.left-column, .right-column {
    margin-top: 30px;
    transition: box-shadow 0.3s ease-in-out;
}

.left-column:hover, .right-column:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.second-page-title {
    margin-top: 30px;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 2.2rem;
}

.icon-second-page {
    margin-left: 8px;
}

.left-column, .right-column {
    background-color: rgba(169, 210, 235, 0.2); /* rgba(240, 240, 240, 0.5) */
    border-radius: 13px;
    padding: 30px;
    margin-bottom: 20px;
}

.right-column {
    background-color: rgba(174, 218, 189, 0.2);
}

.left-column {
    margin-right: 20px; 
}



.left-column .carrera {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 50px;
    /* font-family: "Raleway"; */
}

.right-column .carrera {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 50px;
    /* text-align: end; */
}

.left-column .academy-name {
    margin-top: -8px;
    color: #626161;
    margin-left: 27px;
    font-family: "Raleway";;
    font-size: .9rem;
}

.left-column {
    /* border: 2px solid green; */
    width: 50%;
    height: auto;
}

.right-column {
    /* border: 2px solid yellow; */
    width: 50%;
    height: 60vh;
}

.description-carrera {
    color: #626161;
    font-size: .9rem;
    font-family: "Raleway";
}

.skills {
    color:#626161;
    font-size: .9rem;
    font-family: "Raleway";
}

/* TECHNOLOGIES */ 

.technology {
    text-align: center;
    color:#080808;
}

.title-technology {
    margin-top: 30px;
}

.logos {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}

.logos-lenguajes {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: contain;
    margin-bottom: 5rem;
    transition: transform 0.3s ease-in-out;
}

.logos-lenguajes:hover {
    transform: scale(1.2);
}

/* Contacto */
.contacto {
    background-color: #080808;
}

.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.container-contact h2 {
    font-family: "Raleway";
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 50px;
}

.description-contact {
    text-align: center;
    color: #9C9C9C;
    margin-top: 20px;
    margin-bottom: 50px;
}

.btn-contact {
    background-color: #3F8E00 ;
    border-color: #62BA1B;
    color: #fff;
    border-radius: 5px;
    font-family: "IBM Plex Mono";
    transition: all 0.3s ease;
}

.btn-contact:hover {
    color: white; 
    background-color:#62BA1B;
    border-color:#3F8E00;
}

.footer {
    height: 160px;
    background-color: #1B1B1B;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin-top: 50px;
    font-family: "IBM Plex Mono";
    font-size: 0.875rem;
}

.social-icons-footer {
    margin-top: 5px;
}

@media (max-width: 1199px) {
    .second-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-column, .right-column {
        width: 100%;
        margin: auto;
        margin-top: 25px;
    }

    .second-page-title {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .principal {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .info h1 {
        font-size: 2.5rem;
        margin-top: 20px;
    }

    .info p {
        font-size: 0.7rem;
        text-align: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 100%;
    }
    .photo {
        order: 1;
        margin: 0;        
    }
    .photo img {
      max-width: 200px; /* Limita el tamaño máximo */
    }

    .social-icons {
        margin-top: 25px;
    }

    .left-column, .right-column {
        height: auto;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
    }

    .logos img {
        width: calc(25% - 10px);
        height: auto;
    }
}


@media (max-width: 767px) {
    .second-page-title {
        margin-top: 30px;
        font-size: 1.8rem;
    }

    .left-column .carrera {
        font-size: 0.9rem;
    }

    .left-column .academy-name {
        margin-top: -8px;
        color: #626161;
        margin-left: 22px;
        font-size: 0.75rem;
    }

    .right-column .carrera {
        font-size: 0.9rem;
    }

    .right-column .description-carrera {
        font-size: 0.75rem;
    }

  }
